<!DOCTYPE html>
<!--  
 * 作者:修罗大人
 * 时间:Feb 6, 2017 5:07:20 PM
 -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>员工管理</title>
<link rel="stylesheet" type="text/css"
	href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css" />
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>

<!-- oldcss -->
<link rel="stylesheet" type="text/css" href="/css/oldcss/base.css" />
<link rel="stylesheet" type="text/css" href="/css/oldcss/animation1.css" />
<link rel="stylesheet" type="text/css" href="/css/oldcss/form.css" />

</head>
<body>

	<div class="page_content">
		<div class="layout_01_left">
			<div class="layout_overflow">
				<ul id="deptTree">
				</ul>
			</div>
		</div>
		<div class="layout_01_right">
			<div class="layout_overflow">
				<div class="inner6px submitdata">
					<div class="boxBmargin12 cell">
						<form id="searchform" name="searchform" method="post">
							<input id="deptId" type="hidden" name="deptId" value="" />
							<table>
								<tr>
									<th width="15%">用户名</th>
									<td width="35%"><input class="form_text"
										name="username" id="usernamesearch" value="" /></td>
									<th width="15%">姓名</th>
									<td width="35%"><input class="form_text"
										name="name" id="namesearch" value="" /></td>
								</tr>
								<!-- <tr>
									<th width="15%">是否显示禁用的用户</th>
									<td width="35%" colspan="3">
										<select name="delFlag" id="delFlag">
												<option value="0">否</option>
												<option value="1">是</option>
										</select>
									</td>
								</tr> -->
								<tr>
									<td colspan="4">
										<div class="btn_area_setc">
											<a href="###" class="btn_01"
												onclick="javascript:$('#namesearch').val('');$('#usernamesearch').val('');search_user();">清空<b></b></a> <a
												href="###" class="btn_01" onclick="search_user();">查询<b></b></a>
										</div>
									</td>
								</tr>
							</table>
						</form>
					</div>

					<div id="pagination"></div>
					
					<div id="ddUser" class="easyui-dialog"  title="添加/修改员工信息"
							style="width: 350px;  height: 350px;"
							data-options="resizable:true,modal:true"
							closed="true">

						<div class="inner6px">
							<div class="cell">
								<form id="userform" name="userform" method="post"
									ajax="true">
									<input id="userId" type="hidden" name="id"/>
									<input id="password" type="hidden" name="password" value="123456"/>

									<table>
										<tr>
											<th>姓名<font color="red">*</font></th>
											<td>
												<input id="name" name="name"  class="easyui-validatebox tb" 
													data-options="required:true,validType:['charts','length[1,30]'],invalidMessage:'昵称至少1个字符,最多30个字符！'"  /></td>
										</tr>
										<tr>
											<th>用户名<font color="red">*</font></th>
											<td>
												<input id="username" name="username" class="easyui-validatebox" data-options="required:true,validType:'userName',invalidMessage:'用户名必须填写，且用户名必须是数字、字母和下划线,4~30位'" />  
											</td>
										</tr>
										<tr>
											<th>所属部门<font color="red">*</font></th>
											<td>
												<input id="departmentId" name="department.id" type="hidden" /> 
												<input id="departmentName"  class="easyui-validatebox tb"  data-options="required:true,invalidMessage:'请选择所属部门'" readonly="readonly" /> 
												<a href="###" class="btn_01_mini" onclick="search_parent();">查找<b></b></a>
											</td>
										</tr>
										<tr>
											<th>职务</th>
											<td><input id="duty" name="duty" value="" maxlength="50" /></td>
										</tr>
										<tr>
											<th>电话</th>
											<td><input id="phone" name="phone" value="" dataType="n1-12"
												ignore="ignore" /></td>
										</tr>
										<tr>
											<th>手机<font color="red">*</font></th>
											<td>
												<input id="mobilePhone" name="mobilePhone"  class="easyui-validatebox tb"  data-options="required:true,validType:'phoneNum',invalidMessage:'必须为11位手机号码'"  />
											</td>
										</tr>
										<tr>
											<th>电子邮箱</th>
											<td>
												<input id="emailAddress" name="emailAddress" class="easyui-validatebox" data-options="validType:'email'" />  
											</td>
										</tr>
										<tr>
											<th>同级排序<font color="red">*</font></th>
											<td><input id="siblingSorting" name="siblingSorting"  class="easyui-validatebox tb"  data-options="required:true,validType:'numRange[0,1000]',invalidMessage:'必须填写0~1000之间的数字'"  /></td>
										</tr>
										<tr>
											<td colspan="4">
												<div class="btn_area_setc"> 
													<a href="###" class="btn_01_mini" onclick="init_password('');">初始化密码<b></b></a>
													<a href="###" class="btn_01_mini" type="submit" onclick="javascript:submitUser();">保存<b></b></a>
													<a href="###" class="btn_01_mini" onclick="javascript:$('#ddUser').dialog('close');">关闭<b></b></a>
												</div>
											</td>
										</tr>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			
					<div id="ddUserView" class="easyui-dialog" title="查看用户详细信息" 
						style="width: 300px;  height: 350px;" data-options="resizable:true,modal:true"
						closed="true">

					</div>
					
					<div id="setDeptView" class="easyui-dialog" title="设置用户部门" 
						style="width: 200px;  height: 350px;" data-options="resizable:true,modal:true"
						closed="true">
						<ul id="setDeptTree"></ul>
					</div>
					
					<div id="inputUsersExcel" class="easyui-dialog" title="导入员工信息" 
						style="width: 300px;  height: 120px;" data-options="resizable:true,modal:true"
						closed="true">
						<form id="inputUsersForm" method="post" enctype="multipart/form-data">
							<table>
								<tr>
									<td style="text-align: center;">请选择文件</td>
								</tr>
								<tr>
									<td>
										<input class="easyui-filebox" id="fileUpload" name="fileUpload" style="width: 260px;" />
									</td>
								</tr>
								<tr>
									<td>
										<div class="btn_area_setc"> 
											<a href="###" class="btn_01_mini" type="submit" onclick="javascript:inputUsers();">保存<b></b></a>
											<a href="###" class="btn_01_mini" onclick="javascript:$('#inputUsersExcel').dialog('close');">关闭<b></b></a>
										</div>
									</td>
								</tr>
							</table>
						</form>
					</div>
					
					<div id="setUserRoles" class="easyui-dialog" title="设置用户角色" 
						style="width: 700px;  height: 400px;" data-options="resizable:true,modal:true"
						closed="true">
						<div class="inner6px">
							<form id="setUserRolesForm" method="get" action="/SysRole/setUserRoles">
								<input type="hidden" id="roleCodes" name="roleCodes" /> 
								<input type="hidden" id="setUserRoleId" name="userId" />
								<div class="popwin_layer_01">
									<div class="popwin_layer_01_left">
										<div class="box_01">
											<div class="caption_01">待选择角色</div>
											<div class="inner6px popwin_layer_01_height">
												<ul id="roleTree"></ul>
											</div>
										</div>
									</div>
									<div class="popwin_layer_01_right">
										<div class="box_01">
											<div class="caption_01">
												已选择角色
												<div class="right">
													<a href="javascript:RemoveSelect();"
														class="btn_01_ultra_mini" style="width: 40px"><b></b>×</a>
													<a href="javascript:confirm_onclick();"
														class="btn_01_ultra_mini" style="width: 40px"><b></b>√</a>
												</div>
											</div>
											<div class="inner6px popwin_layer_01_height">
												<select id="roleIds" style="width: 100%; height: 100%;"
													multiple="multiple" name="roleIds">
	
												</select>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					
					
			</div>
		</div>
	</div>


</body>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*///这句坚决不能删
	
	//自定义验证
	 $.extend($.fn.validatebox.defaults.rules, {    
	    numRange: {    
	        validator: function(value, param){
	            return (value >= param[0] && value <= param[1]);    
	        },
    		message: ''
	    },
	    userName:{
	        validator:function(value,param){
	            var reg = /^\w+$/;
	            if(value.length < 4 || value.length > 30) return false;
	            return reg.test(value);
	        },
	        message:  ''
	    },
	    phoneNum: {
			validator: function(value){
				var rex=/^1[3-8]+\d{9}$/;
				
				if (value.length > 11) return false;
				return rex.test(value);
			},
			message: ''
		}
	});  
	      
	//新增/修改员工提交
	function submitUser()
	{
		$('#userform').form('submit',{
			url:'/SysUserController/save',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(resultJSON){
            	
            	$('#ddUser').dialog('close');
            	var result = JSON.parse(resultJSON);
				
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#pagination').datagrid('reload');    // reload the user data
                }
            }
        });
	}
	
	//将对象属性值的null替换成""
	function displayProp(obj){   
		var retObj = {};
	          
	    for(var name in obj){       
	       	var value = obj[name];
	       	if(value != null && value != "null")
			{
				retObj[name] = value;
			}else{
				retObj[name] = "";
			}
	    }  
	    
	    return retObj;
	}
	
	//将对象属性值的""替换成null
	function playProp(obj){   
		var retObj = {};
	          
	    for(var name in obj){       
	       	var value = obj[name];
	       	if(value != null && value != "")
			{
				retObj[name] = value;
			}else{
				retObj[name] = null;
			}
	    }  
	    
	    return retObj;
	}
	
	//修改员工信息
	function edit_user(id)
	{
		$.ajax({
			 url: '/SysUserController/findById?id='+id,  
	            dataType: 'json', 
	            method:'POST',
	            contentType : 'application/json;charset=utf-8',
	            success: function (data) {
					data = displayProp(data);

					$('#userId').val(data.id);
					$('#name').val(data.name);
					$('#username').val(data.username);
					$('#departmentId').val(data.department.id);
					$('#departmentName').val(data.department.departmentName);
					$('#duty').val(data.duty);
					$('#phone').val(data.phone);
					$('#mobilePhone').val(data.mobilePhone);
					$('#emailAddress').val(data.emailAddress);
					$('#siblingSorting').val(data.siblingSorting);
					
					$('#ddUser').dialog('open');
	            }
		});
	}
	
	//查看员工详细信息
	function view_user(id)
	{
		$.ajax({  
            url: '/SysUserController/findById?id='+id,  
            dataType: 'json', 
            method:'POST',
            contentType : 'application/json;charset=utf-8',
            success: function (data) {
				data = displayProp(data);	          
            	$('#ddUserView').dialog({
            		closed:false,
            		content:'<div class="inner6px">'
            		+'<div class="cell">'
            		+'<table>'
            		+'<tr>'
            		+'<th style="width:40%;">姓名</th>'
            		+'<td>'+data.name+'</td>'
            		+'</tr>'
            		+'<tr>'
            		+'<th>用户名</th>'
            		+'<td>'+data.username+'</td>'
            		+'</tr>'
            		+'<tr>'
            		+'<th>所属部门</th>'
            		+'<td>'+data.department.departmentName+'</td>'
            		+'</tr>'
            		+'<tr>'
            		+'<th>职务</th>'
            		+'<td>'+data.duty+'</td>'
            		+'</tr>'
            		+'<tr>'
            		+'<th>电话</th>'
            		+'<td>'+data.phone+'</td>'
            		+'</tr>'
            		+'<tr>'
            		+'<th>手机</th>'
            		+'<td>'+data.mobilePhone+'</td>'
            		+'</tr>'
            		+'<tr>'
            		+'<th>电子邮箱</th>'
            		+'<td>'+data.emailAddress+'</td>'
            		+'</tr>'
            		+'<tr>'
            		+'<th>用户角色</th>'
            		+'<td>'+data.roles+'</td>'
            		+'</tr>'
            		+'<tr>'
            		+'<td colspan="2">'
            		+'<div class="btn_area_setc">'
            		+'<a class="btn_01" onclick="javascript:$(\'#ddUserView\').dialog(\'close\');">关闭</a>'
            		+'</div>'
            		+'</td>'
            		+'</tr>'
            		+'</table>'
            		+'</div>'
            		+'</div>'
            	});
            	
            }  
	    });
	}
	
	//查询用户
	function search_user()
	{
		var name = $('#namesearch').val();
		var username = $('#usernamesearch').val();
		var deptId = $('#deptId').val();
		var delFlag = $('#delFlag').val();

		var url = "/SysUserController/findUsers?name="+name+"&username="+username+"&deptId="+deptId+"&delFlag="+delFlag;
		
		$('#pagination').datagrid('reload',url);    // reload the user data
	}
	
	//组织机构
	$('#deptTree').tree({   
               url: '/Department/findTree', 
               onBeforeExpand:function(node){

               },
               onClick:function(node){
               	$('#deptId').val(node.id);
               	$('#namesearch').val('');
           		$('#usernamesearch').val('');
               	var url = '/Department/findProgenyUsers?id='+node.id;
               	if(node.departmentName == '所有部门')
				{
					url = '/SysUserController/findAll';
				}
               	$('#pagination').datagrid('reload',url);
             	},formatter:function(node){
           		return node.departmentName;
           	}
     });
	 
	//用户部门
	$('#setDeptTree').tree({   
        url: '/Department/findTree', 
        onBeforeExpand:function(node){

        },
        onClick:function(node){
        	$('#departmentId').val(node.id);
        	$('#departmentName').val(node.departmentName);
        	$('#setDeptView').dialog('close');
        },formatter:function(node){
    		return node.departmentName;
    	}
	});
	
	//查找所属部门
	function search_parent()
	{
		$('#setDeptView').dialog('open');
	}
	
	//人员列表
	$('#pagination').datagrid({
		toolbar:[{
			text:'新增',
			iconCls:'icon-add',
			handler:function()
			{
				$('#userform').form('clear');
				$('#password').val('123456');
				$('#ddUser').dialog('open');
			}
		},'-',{
			text:'删除',
			iconCls:'icon-remove',
			handler:function(){
				
				$.messager.confirm('删除员工', '确定要删除这些员工吗？', function(result){
					if(result)
					{
						var selectionsUsers = $('#pagination').datagrid('getSelections');
						var userIds = [];
						selectionsUsers.forEach(function(value,index,array){
							userIds.push(value.id);
						});
												
						$.ajax({  
				            url: '/SysUserController/deleteUsers',  
				            dataType: 'json', 
				            method:'POST',
				            contentType : 'application/json;charset=utf-8',
				            data:JSON.stringify(userIds),
				            success: function (data) {
				            	if(data.success){
				            		alert(data.msg);
				            		$(pagination).datagrid('reload');
				            	}else{
				            		alert(data.errorMsg);
				            	}
				            }  
					    });
					}
				});
			}
		},'-',{
			text:'导出Excel',
			iconCls:'icon-add',
			handler:function(){
				// 创建一个 form  
			    var form1 = document.createElement("form");  
			    form1.id = "form";  
			    form1.name = "form";  
			  
			    // 添加到 body 中  
			    document.body.appendChild(form1);  
			  
			    // 创建一个输入  
			    var input = document.createElement("input");  
			    // 设置相应参数  
			    input.type = "hidden";  
			    input.name = "deptId";  
			    var deptId = $('#deptId').val();
			    if(deptId == "001")
				{
					deptId="";
				}
			    input.value = deptId;
			  
			    // 将该输入框插入到 form 中  
			    form1.appendChild(input);  
			  
			    // form 的提交方式  
			    form1.method = "GET";  
			    // form 提交路径  
			    form1.action = "/Department/outputUsersExcel";
			  
			    // 对该 form 执行提交  
			    form1.submit();  
			    // 删除该 form  
			    document.body.removeChild(form1);
			}
		},'-',{
			text:'导出PDF',
			iconCls:'icon-add',
			handler:function(){
				// 创建一个 form  
			    var form1 = document.createElement("form");  
			    form1.id = "form";  
			    form1.name = "form";  
			  
			    // 添加到 body 中  
			    document.body.appendChild(form1);  
			  
			    // 创建一个输入  
			    var input = document.createElement("input");  
			    // 设置相应参数  
			    input.type = "hidden";  
			    input.name = "deptId";  
			    var deptId = $('#deptId').val();
			    if(deptId == "001")
				{
					deptId="";
				}
			    input.value = deptId;
			  
			    // 将该输入框插入到 form 中  
			    form1.appendChild(input);  
			  
			    // form 的提交方式  
			    form1.method = "GET";  
			    // form 提交路径  
			    form1.action = "/Department/outputUsersPDF";
			  
			    // 对该 form 执行提交  
			    form1.submit();  
			    // 删除该 form  
			    document.body.removeChild(form1);
			}
		},'-',{
			text:'导入用户',
			iconCls:'icon-add',
			handler:function()
			{
				$('#inputUsersExcel').dialog('open');
			}
		}],
		title:'人员列表',
		pagination:true,
		rownumbers:true,
		fitColumns:true,
		nowrap:false,
		height:320,
		method:'GET',
		url:'/SysUserController/findAll',
		columns:[[
				  {field:'id',checkbox:true},
		          {field:'name',title:'姓名',width:80},
		          {field:'username',title:'用户名',width:80},
		          {field:'department',title:'所属部门',width:80,formatter:function(value,row){
		        	  return value != null ? value.departmentName : "" ;
				  }},
		          {field:'duty',title:'职务',width:80},
		          {field:'mobilePhone',title:'手机',width:90},
		          {field:'phone',title:'电话',width:80},
		          {field:'op',title:'操作',width:350,formatter:function(value,rec){
		          		var retStr = "<a href='#' class='btn_01_mini' onclick='view_user(\""+rec.id+"\")'>查看<b></b></a>"
		          					+"<a href='#' class='btn_01_mini' onclick='edit_user(\""+rec.id+"\")'>修改<b></b></a>";	
				  		retStr += "<a href='#' class='btn_01_mini' onclick='editUserRoles(\""+rec.id+"\")'>角色设置<b></b></a>";
				  		return retStr;
				  }}
		        ]]
	});
	
	//初始化密码
	function init_password(){
		var id = $('#userId').val();

		$.messager.confirm('初始化密码', '确定要初始化该用户的密码？', function(result){
			if (result){
				$.ajax({
					url : "/SysUserController/resetPassword?userId="+id,
					type: 'post',
					dataType: 'json',
					async : false,
					error: function(){
						$.messager.alert('错误','始化该用户的密码时出错！');
					},
					success: function(data){
						if(data.success){
							$.messager.alert('提示','始化该用户的密码成功！', 'info',function(){
								$('#ddUser').dialog('close');
							});
						}else{
							$.messager.alert('错误','始化该用户的密码时出错！', 'info',function(){
								$('#ddUser').dialog('close');
							});
						}
					}
				});					
			}
		});
	}
	
	//导入usersexcel
	function inputUsers()
	{
           //获取form数据
           var formData = new FormData($("#inputUsersForm")[0]);
           //调用apicontroller后台action方法，将form数据传递给后台处理。contentType必须设置为false,否则chrome和firefox不兼容
           $.ajax({
               url: "/SysUserController/inputUsersExcel",
               type: 'POST',
               data: formData,
               async: false,
               cache: false,
               contentType: false,
               processData: false,
               success: function (data) {
            	   
            		$('#inputUsersExcel').dialog('close');
            		if(data.success)
					{
						alert("导入成功");
                        $('#pagination').datagrid('reload');    // reload the user data
                        $("#inputUsersForm").form('clear');
					}else{
						alert("导入失败");
					}
               }
           });
	}
	
	//设置角色开始
    function RemoveSelect(){

        var options = document.getElementById("roleIds").options;
        var i;
        var treeNodes = $('#roleTree').tree('getRoots');
        for(i=0;i<options.length;i++){
        	if(options[i].selected)
			{
	            for (var j = 0;j < treeNodes.length;j++)
            	{
	            	if(treeNodes[j].id == options[i].value)
					{
	            		$('#roleTree').tree('uncheck',treeNodes[j].target);
					}
            	}
	            i--;
	        }
        }
        
    }

    function confirm_onclick(){

    	var options = document.getElementById("roleIds").options; 
    	/* if (options.length > 1) {
    		$.messager.alert('提示','只能给用户分配一个角色！');
    		return;
    	} */
    	var roleCodes = "";
    	for(i=0;i<options.length;i++){
    		roleCodes += options[i].value+"|";
        }
        $('#roleCodes').val(roleCodes);
        
        $('#setUserRolesForm').form('submit',{
            success: function(data){
            	$('#setUserRoles').dialog('close');
            	data = JSON.parse(data);
                if (data.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: data.errorMsg
                    });
                } else {
                    alert(data.msg);
                }
            }
        });
    }

	function editUserRoles(id){
		$('#setUserRoles').dialog('open');
		$('#setUserRoleId').val(id);
		var options = document.getElementById("roleIds").options; 

		for(var i = 0;i < options.length;i++){
			options[i] = null;
			i--;
		}

        $('#roleTree').tree({
             checkbox: true,
             url: '/SysRole/findTree',
         	 onCheck:function(node,checked){
    	         var options = document.getElementById("roleIds").options;  
    	         var id = node.id;
    	         if(node.name=="角色")
    	         	return;
    	     	 else{
	    	     	  if(checked){
	    	               var i,bFlag;
						   for (i=0; i < options.length; i++){
							   if(options[i].value==id){
								   bFlag=true;
								   break;
						       }	
						   }
						   if(!bFlag){
							   options.add(new Option(node.name,id));
							}
	    	           }else {
		    	           var i;
		    	           for (i=0; i < options.length; i++) {
			    	            if(options[i].value==id){
				    	            options[i] = null;
			                        i--;
			                    }	
			                }
	    	           }
	    	           node.checked = checked;  
    	     	 }  
       		 },formatter:function(node){
         		return node.name;
         	},onLoadSuccess:function(node, data){
         		$.ajax({  
		            url: '/SysUserController/findRolesById?userId='+id,  
		            dataType: 'json', 
		            method:'POST',
		            contentType : 'application/json;charset=utf-8',
		            success: function (roles) {
		            	 var options = document.getElementById("roleIds").options;
		                 var treeNodes = $('#roleTree').tree('getRoots');
		                 for(var i=0;i<roles.length;i++){
	         	            for (var j = 0;j < treeNodes.length;j++)
	                     	{
	         	            	if(treeNodes[j].id == roles[i].id)
	         					{
	         	            		options.add(new Option(roles[i].name,roles[i].id));
	         	            		$('#roleTree').tree('check',treeNodes[j].target);
	         					}
	                     	}
		                 }
		            }
         		});
         	}
         });   
     }
	
	/*]]>*///这句坚决不能删
</script>
</html>