<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>其他信息</title>
<link rel="stylesheet" type="text/css"
	href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/color.css" />
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/page.css" />
<link rel="stylesheet" type="text/css" href="/css/reset.css" />
</head>
<body>
	<form class="table table-bordered table2 glg_tab" style="" id="myform4"
		name="myform4" method="post"
		action="/operatorcenter/jsp/routemanage/routeSave.action">
		<table class="table table-bordered table2 glg_tab">
			<input name="routeEdit" value="4" type="hidden" />
			<input name="route.id" value="" type="hidden" />
			<tbody>
				<tr>
					<td>
						<table class="table table-bordered table2">
							<tbody>
								<tr>
									<td style="width: 160px;">购物店：</td>
									<td colspan="5" style="text-align: left;"><textarea
											name="route.shopping" rows="3" cols="70" datatype="*1-1500"
											errormsg="此项为必填" maxlength="1500"></textarea></td>
								</tr>
								<tr>
									<td>特殊限制：</td>
									<td colspan="5" style="text-align: left;"><textarea
											name="route.speciallimit" rows="3" cols="70"
											datatype="*1-1500" errormsg="此项为必填" maxlength="1500"></textarea></td>
								</tr>
								<tr>
									<td>预订须知：</td>
									<td colspan="5" style="text-align: left;"><textarea
											name="route.bookingdetails" rows="3" cols="70"
											datatype="*1-1500" errormsg="此项为必填" maxlength="1500"></textarea></td>
								</tr>
								<tr>
									<td>自费项目备注：</td>
									<td colspan="5" style="text-align: left;"><textarea
											name="route.remark" rows="3" cols="70" datatype="*1-1500"
											errormsg="此项为必填" maxlength="5000"></textarea></td>
								</tr>
								<tr>
									<td>自费项目推荐：</td>
									<td colspan="5" style="text-align: left;"><textarea
											name="route.projects" rows="3" cols="70" datatype="*1-1500"
											errormsg="此项为必填" maxlength="5000"></textarea></td>
								</tr>
								<tr>
									<td>费用包含：</td>
									<td colspan="5" style="text-align: left;"><textarea
											name="route.includedetails" rows="3" cols="70"
											datatype="*1-1500" errormsg="此项为必填" maxlength="1500"></textarea></td>
								</tr>
								<tr>
									<td>费用不包含：</td>
									<td colspan="5" style="text-align: left;"><textarea
											name="route.noincludedetails" rows="3" cols="70"
											datatype="*1-1500" errormsg="此项为必填" maxlength="1500"></textarea></td>
								</tr>
								<tr>
									<td>退款说明：</td>
									<td colspan="5" style="text-align: left;"><textarea
											name="route.refunddetails" rows="3" cols="70"
											datatype="*1-1500" errormsg="此项为必填" maxlength="1500"></textarea>
										<!-- <input style="width:80%;" type="text" placeholder="" style="" name="route.refunddetails"> --></td>
								</tr>
								<tr class="beijingq">
									<td colspan="6">
										<div class="btn btn-success btn2 anan">
											<span onclick="saveForm(4);" id="span4">添加线路</span>
										</div>
										<div class="btn btn-info btn2 anan">
											<span onclick="backList();">返回列表</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>