<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>其他信息</title>
<link rel="stylesheet" type="text/css"
	href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/color.css" />
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/page.css" />
<link rel="stylesheet" type="text/css" href="/css/reset.css" />
</head>
<body>
	<form class="table table-bordered table2 glg_tab" style="" id="myform"
		name="myform" method="post" onsubmit="return false;"
		action="/SelfSupportRouteOtherInfo/saveOtherInfo">
		<table class="table table-bordered table2 glg_tab">
			<input name="routeId" value="402882a65949d34b015949d360560000" type="hidden" />
			<tbody>
				<tr>
					<td>
						<table class="table table-bordered table2">
							<tbody>
								<tr>
									<td style="width: 160px;">购物店：</td>
									<td colspan="5" style="text-align: left;">
										<textarea name="shop" rows="3" cols="70"></textarea>
									</td>
								</tr>
								<tr>
									<td>特殊限制：</td>
									<td colspan="5" style="text-align: left;">
										<textarea name="specialRestrictions" rows="3" cols="70"></textarea>
									</td>
								</tr>
								<tr>
									<td>预订须知：</td>
									<td colspan="5" style="text-align: left;">
										<textarea name="reservationInform" cols="70"></textarea>
									</td>
								</tr>
								<tr>
									<td>自费项目备注：</td>
									<td colspan="5" style="text-align: left;">
										<textarea name="selfPayItemRemark" rows="3" cols="70"></textarea>
									</td>
								</tr>
								<tr>
									<td>自费项目推荐：</td>
									<td colspan="5" style="text-align: left;">
										<textarea name="selfPayItemRecommend" rows="3" cols="70"></textarea>
									</td>
								</tr>
								<tr>
									<td>费用包含：</td>
									<td colspan="5" style="text-align: left;">
										<textarea name="costCover" rows="3" cols="70"></textarea>
									</td>
								</tr>
								<tr>
									<td>费用不包含：</td>
									<td colspan="5" style="text-align: left;">
										<textarea name="costNoCover" rows="3" cols="70"></textarea>
									</td>
								</tr>
								<tr>
									<td>退款说明：</td>
									<td colspan="5" style="text-align: left;">
										<textarea name="refundInstruction" rows="3" cols="70"></textarea>
									</td>
								</tr>
								<tr class="beijingq">
									<td colspan="6">
										<div class="btn btn-success btn2 anan">
											<span onclick="saveForm();" id="span4">添加线路</span>
										</div>
										<div class="btn btn-info btn2 anan">
											<span onclick="backList();">返回列表</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
<script type="text/javascript">
/*<![CDATA[*/   //这句坚决不能删

function saveForm()
{
	$('#myform').form('submit',{
        onSubmit: function(){
            return 'true';
        },
        success: function(resultJSON){
        	var result = JSON.parse(resultJSON);
            if (result.errorMsg){
            	alert(result.errorMsg);
            } else {
                alert(result.msg);
            }
        }
    });
}
           
/*]]>*/    //这句坚决不能删
</script>
</html>