<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>自营线路基本信息修改</title>
<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css" />    
<link rel="stylesheet" type="text/css" href="/easyui/themes/color.css"/>
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>

<link rel="stylesheet" type="text/css"
	href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/common.css" />
<link rel="stylesheet" type="text/css"
	href="/css/page.css" />
<link rel="stylesheet" type="text/css"
	href="/css/reset.css" />
	
<link rel="stylesheet" type="text/css"
	href="/css/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" type="text/css"
	href="/css/fullcalendar/fullcalendar.print.css" />
<script type="text/javascript"
	src="/js/fullcalendar/fullcalendar.min.js"></script>

<style type="text/css">
.td{border:1px #0066ff solid;}
.table{border-collapse:collapse;}
</style>

</head>
<body id="RouteBaseInfoUpdate">
<form class="easyui-panel" id="myform" name="myform" method="post">
<table class="table table-bordered table2 glg_tab" >

	<tbody>
		<tr>
			<td style="font-size: 16px; text-align: center;">线路名称：</td>
			<td colspan="4" style="text-align: left;">
			<input id="routeName" name="routeName" th:value="${selfSupportRoute.routeBaseInfo.routeName}" style="width:100%;" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']"/>
			</td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">去程交通：</td>
			<td>
				<!-- <input class="easyui-combobox" 
						name="goTraffic"
						data-options="
					url: '/RouteBaseInfo/selectGoWay', 
					method:'get',
					valueField:'id',
					textField:'trafficType',
					value:'请选择',
					panelHeight:'auto'">
				</input> -->
				<input id="goTraffic" class="easyui-validatebox" data-options="validType:'selected'" style="width:180px" name="goTraffic" />
			</td>
			<td style="font-size: 16px; text-align: center;">回程交通：</td>
			<td>
				<!-- <input class="easyui-combobox" 
						name="returnTraffic"
						data-options="
					required:true,	
					url: '/RouteBaseInfo/selectGoWay',
					method:'get',
					valueField:'id',
					textField:'trafficType',
					value:'请选择',
					panelHeight:'auto'">
				</input> -->
				<input id="returnTraffic" class="easyui-validatebox" data-options="validType:'selected'" style="width:180px" name="returnTraffic" />
			</td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">出发地：</td>
			<td ><input name="outPlace" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" th:value="${selfSupportRoute.routeBaseInfo.outPlace}" type="text" style="width:100%;"></input></td>
			<td style="font-size: 16px; text-align: center;">浏览地：</td>
			<td><input name="destination" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" th:value="${selfSupportRoute.routeBaseInfo.destination}" type="text" style="width:100%;"></input></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">签证国家：</td>
			<td >
				<!-- <input class="easyui-combobox" 
						name="visaNationals"
						data-options="
					url: '/RouteBaseInfo/selectCountry', 
					method:'get',
					valueField:'id',
					textField:'country',
					value:'请选择',
					panelHeight:'auto'">
				</input> -->
				<input id="visaNationals" class="easyui-validatebox" data-options="validType:'selected'" style="width:180px" name="visaNationals" />
			</td>
			<td style="font-size: 16px; text-align: center;">电商页面排序：</td>
			<td>
				<input type="text" name="pageOrder" class="easyui-numberbox"  data-options="required:true,min:0" th:value="${selfSupportRoute.routeBaseInfo.pageOrder}" placeholder="请输入数字"></input>
			</td>
		</tr>
		<tr>
		<td colspan="6" class="liTit">
		<div style="font-size: 16px;width:45%;color: blue;font-weight: bold;padding-left: 30px">产品类别</div>
		</td>
		</tr>
		
		<tr>
			<td style="font-size: 16px; text-align: center;">原创路线:</td>
			<td >
			<a  class="easyui-linkbutton" plain="true" onclick="originalRoute()">选择路线</a>
			</td>
			<td>
			 <div>
			 	<input type="hidden" id="routeTypeList" name="routeTypeList" value="" ></input>
			 	<input type="text" id="originalRoute" name="originalRoute" value="" readonly="value" class="easyui-validatebox tb" data-options="required:true"></input>
			 </div>
			</td>
		</tr>	
		<tr>
			<td style="font-size: 16px; text-align: center;">龙江1+1:</td>
			<td>
			<a  class="easyui-linkbutton" plain="true" onclick="longJiang()">选择路线</a>
			</td>
			<td>
			<div>
			 	<input type="hidden" id="routeTypeList" name="routeTypeList" value="" ></input>
			 	<input type="text" id="longJiang" name="longJiang" value="" readonly="value" class="easyui-validatebox tb" data-options="required:true"></input>  	
			</div>
			</td>
		</tr>	
		<tr>
			<td style="font-size: 16px; text-align: center;">出境游:</td>
			<td>
			<a  class="easyui-linkbutton" plain="true" onclick="outboundTravel()">选择路线</a>
			</td>
			<td>
			 <div>
			 	 <input type="hidden" id="routeTypeList" name="routeTypeList" value="" ></input>
			 	<input type="text" id="outboundTravel" name="outboundTravel" value="" readonly="value" class="easyui-validatebox tb" data-options="required:true"></input> 	
			 </div>
			</td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">旅游主题:</td>
			<td>
			<a  class="easyui-linkbutton" plain="true" onclick="tourismTheme()">选择主题</a>
			</td>
			<td>
			<div>
			<input type="hidden" id="tourismTheme" name="tourismTheme" value="" ></input>	
			<input type="text" id="tourismTheme1" name="tourismTheme1" value="" readonly="value" class="easyui-validatebox tb" data-options="required:true"></input>	
			</div> 
			</td>
		</tr>
		
		<tr>
			<td style="font-size: 16px; text-align: center;">线路列表简图：<br/>建议尺寸-宽1500*高200</td>
			<td >
			
        <form id="form0" action="/RouteBaseInfo/fileUpload" enctype="multipart/form-data" method="post" novalidate="" style="margin:0;padding:20px 50px">
        </form>
        
        <form id="form1" action="/RouteBaseInfo/fileUpload" enctype="multipart/form-data" method="post" novalidate="" style="margin:0;padding:20px 50px">
            	<div>
           		<input name="fileUpload" class="easyui-filebox" labelPosition="top" data-options="prompt:'Choose another file...'" style="width:100%"/>
            	</div>
        </form>
       	 		<input type="hidden" id="listRouteDiagram" name="listRouteDiagram" value="" ></input>
			</td>
			<td style="font-size: 16px; text-align: center;">路线简图：<br/>建议尺寸-宽1500*高200</td>
			<td >
		<form id="form2" action="/RouteBaseInfo/fileUpload2" enctype="multipart/form-data" method="post" novalidate="" style="margin:0;padding:20px 50px">
            	<div>
           		<input name="fileUpload" class="easyui-filebox" labelPosition="top" data-options="prompt:'Choose another file...'" style="width:100%"/>
            	</div>
        </form>
        		<input type="hidden" id="routeDiagram" name="routeDiagram" value="" ></input>
			</td>
		</tr>
		
		<tr>
			<td style="font-size: 16px; text-align: center;">起价说明：</td>
			<td colspan="4" style="text-align: left;">
			<textarea name="startPriceExplain" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" th:text="${selfSupportRoute.routeBaseInfo.startPriceExplain}" style="width:100%;">
			</textarea>
			</td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">推荐理由：</td>
			<td colspan="4" style="text-align: left;"><textarea name="recommendedReason" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" th:text="${selfSupportRoute.routeBaseInfo.recommendedReason}" style="width:100%;"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">重要提示：</td>
			<td colspan="4" style="text-align: left;"><textarea name="importanceHint" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" th:text="${selfSupportRoute.routeBaseInfo.importanceHint}" style="width:100%;"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">保险赠送情况说明：</td>
			<td colspan="4" style="text-align: left;"><textarea name="insuranceGiveExplain" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" th:text="${selfSupportRoute.routeBaseInfo.insuranceGiveExplain}" style="width:100%;"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">限制报名期限：</td>
			<td colspan="4" style="text-align: left;"><input name="limitedRegistrationDeadline" class="easyui-numberbox"  data-options="required:true,min:0" th:value="${selfSupportRoute.routeBaseInfo.limitedRegistrationDeadline}" style="width:100%;"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">限制付款天数：</td>
			<td colspan="4" style="text-align: left;"><input name="restrictedPaymentDays" class="easyui-numberbox"  data-options="required:true,min:0" th:value="${selfSupportRoute.routeBaseInfo.restrictedPaymentDays}" style="width:100%;"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">限制付款小时：</td>
			<td colspan="4" style="text-align: left;"><input name="limitedPaymentHours" class="easyui-numberbox"  data-options="required:true,min:0" th:value="${selfSupportRoute.routeBaseInfo.limitedPaymentHours}" style="width:100%;"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">付款方式：</td>
			<td colspan="4" style="text-align: left;"><input name="paymentMethod" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" th:value="${selfSupportRoute.routeBaseInfo.paymentMethod}" style="width:100%;"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;"></td>
			<td colspan="4" style="text-align: left;">
			<a href="javascript:void(0)" class="easyui-linkbutton c6" onclick="saveUser()" style="width:90px">确认保存</a>
			<a href="javascript:void(0)" class="easyui-linkbutton c6" style="width:90px">返回列表</a>
			</td>
		</tr>
	</tbody>
</table>
</form>	

 	<div id="dlg" class="easyui-dialog" style="width:500px"
            closed="true" buttons="#dlg-buttons">
        <form id="fm" novalidate="" style="margin:0;padding:20px 50px">
        <!--<div style="margin-bottom:10px">
            	<table id="cs" name="cs" class="table" border="1px" cellspacing="1" style="width: 400px;">
				<tr>
				  <td><input type="checkbox" name="qx" value="黑龙江省" />黑龙江省</td>
				  <td><input type="checkbox" name="qx" value="哈尔滨市" />哈尔滨市</td>
				</tr>
            	</table>
            </div> -->
        </form> 
    </div>
 	<div id="dlg2" class="easyui-dialog" style="width:500px"
            closed="true" buttons="#dlg-buttons2">
        <form id="fm2" novalidate="" style="margin:0;padding:20px 50px">
        </form>
    </div>
 	<div id="dlg3" class="easyui-dialog" style="width:500px"
            closed="true" buttons="#dlg-buttons3">
        <form id="fm3" novalidate="" style="margin:0;padding:20px 50px">
        </form>
    </div>
 	<div id="dlg4" class="easyui-dialog" style="width:500px"
            closed="true" buttons="#dlg-buttons4">
        <form id="fm4" novalidate="" style="margin:0;padding:20px 50px">
        </form>
    </div>
            
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok"  onclick="getInfo()" style="width:90px">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
    </div>
    <div id="dlg-buttons2">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="getInfo2()" style="width:90px">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg2').dialog('close')" style="width:90px">取消</a>
    </div>
    <div id="dlg-buttons3">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="getInfo3()" style="width:90px">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg3').dialog('close')" style="width:90px">取消</a>
    </div>
    <div id="dlg-buttons4">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="getInfo4()" style="width:90px">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg4').dialog('close')" style="width:90px">取消</a>
    </div>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	
    $('#goTraffic').combobox({    
    	valueField: 'id',    
        textField: 'trafficType',    
        url: '/RouteBaseInfo/selectGoWay',
        onLoadSuccess: function(){
        	var data = $(this).combobox('getData');
        	$(this).combobox('select',data[0].id);
        } 
     });
    $('#returnTraffic').combobox({    
    	valueField: 'id',    
        textField: 'trafficType',    
        url: '/RouteBaseInfo/selectGoWay',
        onLoadSuccess: function(){
        	var data = $(this).combobox('getData');
        	$(this).combobox('select',data[0].id);
        } 
     });
    $('#visaNationals').combobox({    
    	valueField: 'id',    
        textField: 'country',    
        url: '/RouteBaseInfo/selectCountry',
        onLoadSuccess: function(){
        	var data = $(this).combobox('getData');
        	$(this).combobox('select',data[0].id);
        } 
     });
    
	      function fileUpload1() {
	        	var formData = new FormData($( "#form1" )[0]);  
		        $.ajax({
		             url: '/RouteBaseInfo/fileUpload' ,  
		             type: 'POST',  
		             data: formData,  
		             async: false,  
		             cache: false,  
		             contentType: false,  
		             processData: false,  
		             success: function (returndata) {  
		            	 $("#listRouteDiagram").val(returndata);
		             },  
		             error: function (returndata) {  
		                 alert("错误!");  
		             }  
		        });  
	        }          
	
	     function fileUpload2() {
	        	var formData = new FormData($( "#form2" )[0]);  
		        $.ajax({
		             url: '/RouteBaseInfo/fileUpload' ,  
		             type: 'POST',  
		             data: formData,  
		             async: false,  
		             cache: false,  
		             contentType: false,  
		             processData: false,  
		             success: function (returndata) {  
		            	 $("#routeDiagram").val(returndata);
		             },  
		             error: function (returndata) {  
		                 alert("错误!");  
		             }  
		        });  
	        } 
	           
		 function getInfo(){
			 check_val = [];
			 $.ajax({  
	            	type: "POST", 
	            	url: '/RouteBaseInfo/selectRouteTypeList',  
		            dataType: 'json',
		            contentType : 'application/json;charset=utf-8', //设置请求头信息
		            success: function (data) {
	        	        	　　 for(var i=0;i<data.length;i++){
	        	        		obj = document.getElementsByName(data[i].typeName);
	        	     		    	for(k in obj){
	        	     		        if(obj[k].checked)
	        	     		            check_val.push(obj[k]);
	        	     		   	 }
	        	        	  }
	        	     		    	$("#routeTypeList").val(check_val[0].id);
	        	     		    	$("#originalRoute").val(check_val[0].value);
		           		 }
		        		});
		  							$('#dlg').dialog('close');
		} 
		function getInfo2(){
			check_val = [];
			 $.ajax({  
	            	type: "POST", 
	            	url: '/RouteBaseInfo/selectRouteTypeList',  
		            dataType: 'json',
		            contentType : 'application/json;charset=utf-8', //设置请求头信息
		            success: function (data) {
	        	        	　　 for(var i=0;i<data.length;i++){
	        	        		obj = document.getElementsByName(data[i].typeName);
	        	     		    	for(k in obj){
	        	     		        if(obj[k].checked)
	        	     		            check_val.push(obj[k]);
	        	     		   	 }
	        	        	  }
	        	        	 $("#routeTypeList").val(check_val[0].id);
     	     		    	 $("#longJiang").val(check_val[0].value);
		           		 }
		        		});
		  							$('#dlg2').dialog('close');
		}
		function getInfo3(){
			check_val = [];
			 $.ajax({  
	            	type: "POST", 
	            	url: '/RouteBaseInfo/selectRouteTypeList',  
		            dataType: 'json',
		            contentType : 'application/json;charset=utf-8', //设置请求头信息
		            success: function (data) {
	        	        	　　 for(var i=0;i<data.length;i++){
	        	        		obj = document.getElementsByName(data[i].typeName);
	        	     		    	for(k in obj){
	        	     		        if(obj[k].checked)
	        	     		            check_val.push(obj[k]);
	        	     		   	 }
	        	        	  }
	        	        	 $("#routeTypeList").val(check_val[0].id);
     	     		    	 $("#outboundTravel").val(check_val[0].value);
		           		 }
		        		});
		  							$('#dlg3').dialog('close');
		}
		function getInfo4(){
			check_val = [];
			 $.ajax({  
	            	type: "POST", 
	            	url: '/RouteBaseInfo/selectTourismTheme',  
		            dataType: 'json',
		            contentType : 'application/json;charset=utf-8', //设置请求头信息
		            success: function (data) {
	        	        	　　 for(var i=0;i<data.length;i++){
	        	        		obj = document.getElementsByName(data[i].themeName);
		        	     		   for (var j = 0; j < obj.length; j++) {
		        	     			 if (obj[j].checked) {
		        	     				check_val.push(obj[j]);
									}  
								} 	
	        	        	  }
	        	     		 $("#tourismTheme").val(check_val[0].id);
	        	     		 $("#tourismTheme1").val(check_val[0].value);
		           		 }
		        		});
		  					 $('#dlg4').dialog('close');
		}
		
        var url;
        function originalRoute(){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle','原创路线');
            $('#fm').form('clear');
            $.ajax({  
            	type: "POST", 
            	url: '/RouteBaseInfo/selectRouteTypeList',  
	            dataType: 'json',
	            contentType : 'application/json;charset=utf-8', //设置请求头信息
	            success: function (data) {
	            			var ids = document.getElementById('1');
	            			if (ids!= null) {
	            			ids.parentNode.removeChild(ids);
							}
	            			var div = document.createElement("div");
	            			div.id="1";
	                		document.getElementById('fm').appendChild(div);
        	        	    var ul=document.createElement("ul");
        	        	    div.appendChild(ul);
        	        	　　 for(var i=0;i<data.length;i++){
        	        	    var checkbox=document.createElement("input");
        	        	        // 加入复选框
        	        	        checkbox.setAttribute("type","checkbox");
        	        	        checkbox.setAttribute("id",data[i].id);
        	        	        checkbox.setAttribute("name", data[i].typeName);
        	        	        checkbox.setAttribute("value", data[i].typeName);
        	        	        var li=document.createElement("li");
        	        	        li.appendChild(checkbox);       
        	        	        li.appendChild(document.createTextNode(data[i].typeName));
        	        	        ul.appendChild(li);
        	        	    }
        	        	 		checkbox.appendChild(ul); 
            					getInfo();
	           		 }
	        });
        }
        function longJiang(){
            $('#dlg2').dialog('open').dialog('center').dialog('setTitle','龙江1+1');
            $('#fm2').form('clear');
            $.ajax({  
            	type: "POST", 
            	url: '/RouteBaseInfo/selectRouteTypeList',  
	            dataType: 'json',
	            contentType : 'application/json;charset=utf-8', //设置请求头信息
	            success: function (data) {
	            			var ids = document.getElementById('1');
	            			if (ids!= null) {
	            			ids.parentNode.removeChild(ids);
							}
	            			var div = document.createElement("div");
	            			div.id="1";
	                		document.getElementById('fm2').appendChild(div);
        	        	    var ul=document.createElement("ul");
        	        	    div.appendChild(ul);
        	        	　　 for(var i=0;i<data.length;i++){
        	        	    var checkbox=document.createElement("input");
        	        	        // 加入复选框
        	        	        checkbox.setAttribute("type","checkbox");
        	        	        checkbox.setAttribute("id",data[i].id);
        	        	        checkbox.setAttribute("name", data[i].typeName);
        	        	        checkbox.setAttribute("value", data[i].typeName);
        	        	        var li=document.createElement("li");
        	        	        li.appendChild(checkbox);       
        	        	        li.appendChild(document.createTextNode(data[i].typeName));
        	        	        ul.appendChild(li);
        	        	    }
        	        	 		checkbox.appendChild(ul); 
	            }  
	        });
        }
        function outboundTravel(){
            $('#dlg3').dialog('open').dialog('center').dialog('setTitle','出境游');
            $('#fm3').form('clear');
            $.ajax({  
            	type: "POST", 
            	url: '/RouteBaseInfo/selectRouteTypeList',  
	            dataType: 'json',
	            contentType : 'application/json;charset=utf-8', //设置请求头信息
	            success: function (data) {
	            			var ids = document.getElementById('1');
	            			if (ids!= null) {
	            			ids.parentNode.removeChild(ids);
							}
	            			var div = document.createElement("div");
	            			div.id="1";
	                		document.getElementById('fm3').appendChild(div);
        	        	    var ul=document.createElement("ul");
        	        	    div.appendChild(ul);
        	        	　　 for(var i=0;i<data.length;i++){
        	        	    var checkbox=document.createElement("input");
        	        	        // 加入复选框
        	        	        checkbox.setAttribute("type","checkbox");
        	        	        checkbox.setAttribute("id",data[i].id);
        	        	        checkbox.setAttribute("name", data[i].typeName);
        	        	        checkbox.setAttribute("value", data[i].typeName);
        	        	        var li=document.createElement("li");
        	        	        li.appendChild(checkbox);       
        	        	        li.appendChild(document.createTextNode(data[i].typeName));
        	        	        ul.appendChild(li);
        	        	    }
        	        	 		checkbox.appendChild(ul); 
	            }  
	        });
        }
        function tourismTheme(){
        	$('#dlg4').dialog('open').dialog('center').dialog('setTitle','主题旅游');
            $('#fm4').form('clear');
            $.ajax({  
            	type: "POST", 
            	url: '/RouteBaseInfo/selectTourismTheme',  
	            dataType: 'json',
	            contentType : 'application/json;charset=utf-8', //设置请求头信息
	            success: function (data) {
	            			var ids = document.getElementById('1');
	            			if (ids!= null) {
	            			ids.parentNode.removeChild(ids);
							}
	            			var div = document.createElement("div");
	            			div.id="1";
	                		document.getElementById('fm4').appendChild(div);
        	        	    var ul=document.createElement("ul");
        	        	    div.appendChild(ul);
        	        	　　 for(var i=0;i<data.length;i++){
        	        	    var checkbox=document.createElement("input");
        	        	        // 加入复选框
        	        	        checkbox.setAttribute("type","checkbox");
        	        	        checkbox.setAttribute("id",data[i].id);
        	        	        checkbox.setAttribute("name", data[i].themeName);
        	        	        checkbox.setAttribute("value", data[i].themeName);
        	        	        var li=document.createElement("li");
        	        	        li.appendChild(checkbox);       
        	        	        li.appendChild(document.createTextNode(data[i].themeName));
        	        	        ul.appendChild(li);
        	        	    }
        	        	 		checkbox.appendChild(ul); 
	            }  
	        });
        }
       
        function saveUser(){
        	$('#myform').form('submit',{
                url: '/RouteBaseInfo/save',
                onSubmit: function(){
                	fileUpload1();
                	fileUpload2();
                    return $(this).form('validate');
                },
                success: function(resultJSON){
                	var result = JSON.parse(resultJSON);
                    if (result.errorMsg){
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                    	$('#myform').form('clear');
                    }
                }
            });
        }
        /*]]>*/
    </script>
   </body>
</html>