<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>自营线路管理</title>
<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css" />    
<link rel="stylesheet" type="text/css" href="/easyui/themes/color.css"/>
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/easyui/datagrid-detailview.js"></script>

<style>

form td{
	text-align: left;
}
.datagrid-cell{line-height:30px}

</style>

</head>
<body>
    <table id="tt" class="easyui-datagrid" style="width:100%;height:440px"
            toolbar="#toolbar" pagination="true" remoteSort="false" singleSelect="true" 
          		nowrap="false" fitColumns="true"  >
    </table> 
    
    <table id="dg" class="easyui-datagrid" style="width:100%;height:440px"
            toolbar="#toolbar" pagination="true"
            rownumbers="true" fitColumns="true" singleSelect="true">
    </table>
      
    <div id="toolbar">
        <div>
        	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newRouteTrip()">新增行程</a>
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editRoute()">修改</a>
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyRoute()">删除</a>
        </div>
    </div>

   <div id="dlg" class="easyui-dialog" style="width:400px"
            closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" novalidate="" style="margin:0;padding:20px 50px">
            <div style="margin-bottom:10px">
				 <label for="shop" class="label-top">行程标题:</label><input name="shop" class="easyui-validatebox textbox" data-options="required:true,validType:'length[1,50]'"  style="width:100%"/>
				 <label for="shop" class="label-top">行程详细:</label><textarea name="shop" class="easyui-validatebox textbox" data-options="required:true,validType:'length[1,50]'"  style="width:100%"></textarea>
                 <label for="specialRestrictions" class="label-top">早餐:</label><input class="easyui-combobox" name="breakfast"
										data-options="
								url: '/DiningType/selectAll', 
								method:'get',
								valueField:'id',
								textField:'typeName',
								prompt:'请选择',
								panelHeight:'auto'" />
                 <label for="reservationInform" class="label-top">中餐:</label><input class="easyui-combobox" name="breakfast"
										data-options="
								url: '/DiningType/selectAll', 
								method:'get',
								valueField:'id',
								textField:'typeName',
								prompt:'请选择',
								panelHeight:'auto'" />
				<label for="reservationInform" class="label-top">晚餐:</label><input class="easyui-combobox" name="breakfast"
										data-options="
								url: '/DiningType/selectAll', 
								method:'get',
								valueField:'id',
								textField:'typeName',
								prompt:'请选择',
								panelHeight:'auto'" />
                 <label for="selfPayItemRemark" class="label-top">行程餐图片上传:</label><input
										class="easyui-filebox" name="foodPictures"
										data-options="prompt:'Choose a file...'" style="width:100%" />
                <label for="selfPayItemRecommend" class="label-top">酒店类型:</label><input class="easyui-combobox" name="hotelCategories"
										data-options="
								url: '/HotelCategories/selectAll', 
								method:'get',
								valueField:'id',
								textField:'categoriesName',
								prompt:'请选择',
								panelHeight:'auto'" />
                <label for="costCover" class="label-top">行程酒店图片上传:</label><input
										class="easyui-filebox" name="hotelPicture"
										data-options="prompt:'Choose a file...'" style="width: 100%" />
            </div>
        </form>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveType()" style="width:90px">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
    </div>
    </div>
    
    
    
     <div id="dlg1" class="easyui-dialog" style="width:400px"
            closed="true" buttons="#dlg-buttons">
        <form id="fm1" method="post" novalidate="" style="margin:0;padding:20px 50px">
            <div style="margin-bottom:10px">
				 <label for="shop" class="label-top">选择时间:</label><input
										class="easyui-datetimebox" name="selectionTime"
										data-options="prompt:'请选择日期...'" style="width: 100%" />
				 <label for="shop" class="label-top">日程简单说明:</label><input name="shop" class="easyui-validatebox textbox" data-options="required:true,validType:'length[1,50]'"  style="width:100%"/>
				 <label for="shop" class="label-top">日程详细说明:</label><textarea name="shop" class="easyui-validatebox textbox" data-options="required:true,validType:'length[1,50]'"  style="width:100%"></textarea>
										
                 <label for="selfPayItemRemark" class="label-top">行程餐图片上传:</label><input
										class="easyui-filebox" name="foodPictures"
										data-options="prompt:'Choose a file...'" style="width:100%" />
            </div>
        </form>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveType()" style="width:90px">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
    </div>
    </div>
    
    <script type="text/javascript">
    
    $('#tt').datagrid({
		url:'/OtherTypeManage/datagrid_data',
		columns:[[
			{field:'itemid',title:'行程标题',width:50,align:'center'},
			{field:'productid',title:'行程详细',width:50,align:'center'},
			{field:'listprice',title:'早餐',width:50,align:'center'},
			{field:'unitcost',title:'午餐',width:50,align:'center'},
			{field:'attr1',title:'晚餐',width:50,align:'center'},
			{field:'status3',title:'餐饮图片',width:50,align:'center',
				formatter: function(value,row,index){
    				return '<a href="">餐饮图片详情</a>';
    			}
			},
			{field:'status',title:'酒店类型',width:50,align:'center'},
			{field:'status1',title:'酒店图片',width:50,align:'center',
				formatter: function(value,row,index){
    				return '<a href="">酒店图片详情</a>';
    			}
			},
			{field:'status11',title:'操作',width:50,align:'center',
				formatter: function(value,row,index){
    				return '<a href="javascript:newRouteDay();">添加日程</a>';
    			}
			},
		]],
		view: detailview,
		detailFormatter: function(rowIndex, rowData){
			
			alert(rowIndex);
	
			return  '<table id="dg11" class="easyui-datagrid" style="width:100%;height:auto" toolbar="#toolbar"  singleSelect="true">' +
							'</table>';
		}
	});
    
    
    $('#dg11').datagrid({
		url:'/OtherTypeManage/datagrid_data',
		columns:[[
			{field:'itemid',title:'行程标题',width:50,align:'center'},
			{field:'productid',title:'行程详细',width:50,align:'center'},
			{field:'listprice',title:'早餐',width:50,align:'center'},
			{field:'unitcost',title:'午餐',width:50,align:'center'}
		]]
	});
    
	/*  	
        var url;
        function newRouteTrip(){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle','新增行程');
            $('#fm').form('clear');
            url = '/SelfSupportRouteOtherInfo/save';
        }
        
        function newRouteDay(){
            $('#dlg1').dialog('open').dialog('center').dialog('setTitle','添加日程');
            $('#fm1').form('clear');
            url = '/SelfSupportRouteOtherInfo/save';
        }
        
        
        function editRoute(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $('#fm').form('load',row);
                
                $('#dlg').dialog({    
                    title: '修改', 
                    closed: false,
                    onOpen:function(){
                 	  	getComboboxData(row);
                    }
                 });
                
                url = '/RouteType/save?id='+row.id;
            }
        }
        function saveRoute(){
            $('#fm').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(resultJSON){
                	var result = JSON.parse(resultJSON);
                    if (result.errorMsg){
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                        $('#dlg').dialog('close');        // close the dialog
                        $('#dg').datagrid('reload');    // reload the user data
                    }
                }
            });
        }
        function destroyRoute(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','确定删除这个线路类别吗？',function(r){
                    if (r){
                        $.post('/SelfSupportRoute/delete',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({    // show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        },'json');
                    }
                });
            }
        }
      */  
    </script>
</body>
</html>