<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>自营线路管理</title>
<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css" />    
<link rel="stylesheet" type="text/css" href="/easyui/themes/color.css"/>
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>

<style>

form td{
	text-align: left;
}
.datagrid-cell{line-height:30px}

</style>
</head>
<body>
    <table id="dg" class="easyui-datagrid" style="width:100%;height:500px"
            toolbar="#toolbar" pagination="true"
            rownumbers="true" fitColumns="true">
    </table> 
    
     <div id="toolbar">
    	<div>
	    	<form id="dataForm" action="/SelfSupportRoute/findByPar">
				<table style="width:100%;">
		        	<tr>
		        		<td width="100">景区名称：</td>
		        		<td colspan="4" style="text-align: left;">
		        			<input name="routeName" id="routeName" class="easyui-validatebox textbox" style="width: 80%;" type="text" />
		        		</td>
		        		<td width="100">景区编号：</td>
		        		<td colspan="4" style="text-align: left;">
		        			<input name="destination" id="destination" class="easyui-validatebox textbox" style="width: 80%;" type="text" />
		        		</td>
		        	</tr>
		        </table>
			</form>
    	</div>
    	  <div>
        	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:location.href='/ProductBusinessManage/ScenicManagementAdd';">新增</a>
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="">删除</a>
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="">查询</a>
        </div>
    	</div>
</body>
<script type="text/javascript">
/*<![CDATA[*/
           $('#dg').datagrid({
   	url:'/SelfSupportRoute/findByPar',
   	nowrap:false,
   	columns:[[
		{field:'undefined',checkbox:true},
		{field:'numbering',title:'景区编号',width:100},
		{field:'routeName',title:'景区名称',width:150,
   			formatter: function(value,row,index){
   				if (row.routeBaseInfo != null){
   					return row.routeBaseInfo.routeName;
   				} else {
   					return "";
   				}
   			}
		},
		{field:'outPlace',title:'热门',width:80,
   			formatter: function(value,row,index){
   				if (row.routeBaseInfo != null){
   					return row.routeBaseInfo.outPlace;
   				} else {
   					return "";
   				}
   			}
		},
		{field:'routeTripList',title:'推荐首页',width:50,
   			formatter: function(value,row,index){
   				if (row.routeTripList != null) {
   					return row.routeTripList;
   				} else {
   	   				return ""; 
   				}
   			}
		},
		{field:'businessType',title:'星级',width:50,
   			formatter: function(value,row,index){
   				if (row.businessType == 'SELF_EMPLOYED') {
   					return "";
   				} else {
   	   				return ""; 
   				}
   			}
		},
		{field:'createDate',title:'评分',width:100},
		{field:'updateDate',title:'电话',width:100},
		{field:'operation',title:'操作',width:100,align:'center',
   			formatter: function(value,row,index){
   				return "<a href=\"javascript:viewRoute('"+row.id+"');\">查看</a> <a href=\"javascript:updateRoute('"+row.id+"');\">修改</a>";
   			}
		}
       ]]
   });
           
 /*]]>*/ 
</script>
</html>