<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>酒店管理新增</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/page.css"/>
<link rel="stylesheet" type="text/css" href="/css/calendar.css"/>

<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css" />    
<link rel="stylesheet" type="text/css" href="/easyui/themes/color.css"/>

<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div>
	<div class="alert_tit">
		<h2 style="line-height: 30px;padding-left: 22px;">新增酒店信息</h2>
	</div>
	<form id="myform" name="myform" method="post" enctype="multipart/form-data">
		<table class="table table-bordered" style="margin-top: 30px;">
			<tbody>
				<tr>
					<th width="15%">名称</th>
					<td width="35%">
					<input id="hotelName" name="hotelName" type="text" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']"/><font style='color:red'>*</font>
					</td>
					<th width="15%">级别</th>
					<td width="35%">
						<input id="hotelLevel" name="hotelLevel"/>
					</td>
				</tr>
				<tr>
					<th width="">联系电话</th>
					<td width="">
					<input id="phone" name="phone" value="" type="text" class="easyui-numberbox"  data-options="required:true,min:0,validType:'length[6,11]'" maxlength="11"/>
					</td>
					<th width="">地址</th>
					<td width="">
					<input id="address" name="address" value="" type="text" maxlength="127"/>
					</td>
				</tr>
				<tr>
					<th width="15%">所在城市</th>
					<td width="35">
					<input name="city" id="city"/>
					</td>
					<th width="">所在商圈</th>
					<td width="">
					<input id="businessDistrict" name="businessDistrict" value="" type="text" maxlength="32"/>
					</td>
				</tr>
				<tr>
					
				</tr>
				<tr>
					<th width="">评分</th>
					<td width="" >
					<input id="score" name="score" value="" type="text" class="easyui-numberbox"  data-options="required:true,min:0,validType:'length[1,3]'" />
					</td>
				</tr>
				  <tr>
				<th >提供服务</th>
				<td colspan="5">
					<li style="float: left;width: 151px;list-style: none;">
						<div class="radio_right fl" id="service">
						</div>
					</li>
				</td>
				</tr>				
				<tr>
					<th width="5%">酒店缩略图<input type="hidden" value="" name="hotelThumbnails"/></th>
					<td >
        			<form id="form0" action="/HotelManagementInfo/fileUpload" enctype="multipart/form-data" method="post" novalidate="" style="margin:0;padding:20px 50px">
        			</form>
       				<form id="form1" action="/HotelManagementInfo/fileUpload" enctype="multipart/form-data" method="post" novalidate="" style="margin:0;padding:20px 50px">
            	<div>
           		<input name="fileUpload" class="easyui-filebox" labelPosition="top" data-options="buttonText:'选择图片', accept:'image/jpeg' " style="width:100%"/>
            	</div>
        			</form>
       	 		<input type="hidden" id="hotelThumbnails" name="hotelThumbnails" value="" ></input>
					</td>
				</tr>
				<tr>
					<th width="5%">是否热门酒店</th>
					<td width="" colspan="1">
						<select style="width:100px;" id="popularHotels" name="popularHotels" >
							<option  value="false">否</option>
							<option  value="true">是</option>
						</select>		
					</td>
				</tr>
				<tr>
					<th width="">部门名称</th>
					<td width="" colspan="3">
					    <input id="department" name="department" value="" type="hidden" />
						<input type="hidden" id="department" name="department" value="" ></input>	
						<input id="department1" name="department1" value="" type="text" disabled="disabled"/>
						<input onclick="depart()" type="button" class="btn btn-danger" value="选择部门"/>
					</td>
				</tr>
				<tr>
					<th width="">简介</th>
					<td width="" colspan="3">
						<textarea rows="4" cols="50" id="introduction" name="introduction"></textarea>
					</td>
				</tr>
				
				<tr>
		        	<td colspan="4">
						<a href="#" class="btn btn-danger" onclick="saveUser()" >添加<b></b></a>&nbsp;&nbsp;
		        		<a href="javascript:history.back(-1)" class="btn btn-danger" id="closebtn" onclick="">返回</a>
		        	</td>
		        </tr>
			</tbody>
		</table>
		
		<div class="drop-mask"></div>
		<div class="alert-main" id="alert-main" style="width: 75%;height: 800px;">
	   		<iframe class="pageIframe" id="showIframe" src="" style="width: 100%;height: 100%;"/>
	    </div>
	</form>
	
	<div id="dlg" class="easyui-dialog" style="width:500px"
            closed="true" buttons="#dlg-buttons" data-options="modal: true">
        <form id="fm" novalidate="" style="margin:0;padding:20px 50px">
        
        </form>
    </div>
	<div id="dlg-buttons">
        <a id="info1" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="getInfo()" style="width:90px">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
    </div>
</div>
</body>
<script type="text/javascript">
/*<![CDATA[*/   //这句坚决不能删
     
    $.ajax({  
           url: '/HotelLevel/selectAll',  
           dataType: 'json',  
           success: function (jsonstr) {  
               $('#hotelLevel').combobox({ 
               	data: jsonstr,  
       	    	valueField: 'id',    
       	        textField: 'levelName',
       	        editable:false,
       	        onLoadSuccess: function(){
                      	var Data = $(this).combobox('getData');
                    	  	$(this).combobox('select',Data[0].id);
       		  	}  
       	    }); 
           }  
       });
       
    $.ajax({  
           url: '/City/selectAll',  
           dataType: 'json',  
           success: function (jsonstr) {  
               $('#city').combobox({ 
               	data: jsonstr,  
       	    	valueField: 'id',    
       	        textField: 'cityName',
       	        editable:false,
       	        onLoadSuccess: function(){
                      	var Data = $(this).combobox('getData');
                    	  	$(this).combobox('select',Data[0].id);
       		  	}  
       	    }); 
           }  
       });
    
       $.ajax({  
        	type: "POST", 
        	url: '/HotelProvideService/selectAll',  
            dataType: 'json',
            contentType : 'application/json;charset=utf-8', //设置请求头信息
            success: function (data) {
            			var div = document.createElement("div");
                		document.getElementById('service').appendChild(div);
    	        	    var ul=document.createElement("ul");
    	        	    div.appendChild(ul);
    	        	　　 for(var i=0;i<data.length;i++){
    	        	    var checkbox=document.createElement("input");
    	        	        // 加入复选框
    	        	        checkbox.setAttribute("type","checkbox");
    	        	        checkbox.setAttribute("id",data[i].id);
    	        	        checkbox.setAttribute("name", "hotelProvideService");
    	        	        checkbox.setAttribute("value", data[i].serviceName);
    	        	        var li=document.createElement("li");
    	        	        li.appendChild(checkbox);      
    	        	        li.appendChild(document.createTextNode(data[i].serviceName));
    	        	        ul.appendChild(li);
    	        	    }
            }  
        });
       
        function fileUpload1() {
       	var formData = new FormData($( "#form1" )[0]);  
	        $.ajax({
	             url: '/HotelManagementInfo/fileUpload' ,  
	             type: 'POST',  
	             data: formData,  
	             async: false,  
	             cache: false,  
	             contentType: false,  
	             processData: false,  
	             success: function (returndata) {  
	            	 $("#hotelThumbnails").val(returndata);
	             },  
	             error: function (returndata) {  
	                 alert("错误!");  
	             }  
	        });  
       }          
       //部门
       function depart(){
       	   $('#dlg').dialog('open').dialog('center').dialog('setTitle','部门选择');
           $('#fm').form('clear');
           $.ajax({  
           	type: "POST", 
           	url: '/Department/selectAll',  
	            dataType: 'json',
	            contentType : 'application/json;charset=utf-8', //设置请求头信息
	            success: function (data) {
	            			var ids = document.getElementById('v');
	            			if (ids!= null) {
	            			ids.parentNode.removeChild(ids);
							}
	            			var div = document.createElement("div");
	            			div.id="v";
	                		document.getElementById('fm').appendChild(div);
       	        	        var ul=document.createElement("ul");
       	        	        div.appendChild(ul);
       	        	　　          for(var i=0;i<data.length;i++){
       	        	        var checkbox=document.createElement("input");
       	        	        // 加入复选框
       	        	        checkbox.setAttribute("type","radio");
       	        	        checkbox.setAttribute("id",data[i].id);
       	        	        checkbox.setAttribute("name", "department");
       	        	        checkbox.setAttribute("value", data[i].departmentName);
       	        	        var li=document.createElement("li");
       	        	        li.appendChild(checkbox);       
       	        	        li.appendChild(document.createTextNode(data[i].departmentName));
       	        	        ul.appendChild(li);
       	        	    }
	            }  
	        });
       }
       
       function getInfo(){
   		var check_val= [];
   		var check_name= [];
   	    var obj = $("input[name='department']:checked");
   	    //obj = document.getElementsByName("tourismTheme")
   	    for (var j in obj) {
   	    if (obj[j].checked == true ) {
   				check_val.push(obj[j].id);
   				}
   			}
   			for (var h in obj) {
   				if (obj[h].checked == true) {
   				check_name.push(obj[h].value);
   			}  
   				} 
   	     	 $("#department").val(check_val);
   			 $("#department1").val(check_name);
   			 $('#dlg').dialog('close');
   		}
       
       function saveUser(){
	   	    var hotelProvideService = [];
	     	obj = document.getElementsByName("hotelProvideService");
	  	    for(k in obj){
	  	        if(obj[k].checked)
	  	        	hotelProvideService.push({id:obj[k].id});
	  	    }
       	   
    	   fileUpload1();
       	   var obj={
       		    hotelName:$("#hotelName").val(),
       			hotelLevel:{id:$("#hotelLevel").combobox("getValue")},
       			phone:$("#phone").val(),
           		outPlace:$("#outPlace").val(),
           		address:$("#address").val(),
           		city:{id:$("#city").combobox("getValue")},
           		businessDistrict:$("#businessDistrict").val(),
   			    score:$("#score").val(),
   			    hotelProvideService:hotelProvideService,
   			    hotelThumbnails:$("#hotelThumbnails").val(),
   			    popularHotels:$("#popularHotels").val(),
   			    department:{id:$("#department").val()},
   			    introduction:$("#introduction").val(),
   	       };
       	    alert(JSON.stringify(obj));
       	    //提交方法
			$.ajax({  
				   type: "POST",  
				   url: '/HotelManagementInfo/save', 
				   data: JSON.stringify(obj),//将对象序列化成JSON字符串  
				   dataType:"json",
				   contentType : 'application/json;charset=utf-8', //设置请求头信息  
				   success: function(data){
					   if(data.success)
						{	
					      	alert("保存成功!");
					      	var values =data.msg;
	                    	var input = document.createElement('input');
	                    	document.body.appendChild(input);
	                    	input.setAttribute('type', 'hidden');
	                    	input.setAttribute('id', 'rId');
	                    	input.setAttribute('value', values);
	                    	routeId = values;
	                    	$('#myform').form('clear');
	                    	location.href="/ProductBusinessManage/RouteManage/HotelManagement";
						}else{
					      	alert(data.errorMsg);
						}
				   }
			});
       }
           
  /*]]>*/    //这句坚决不能删           
</script>
</html>