<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>保险管理</title>
<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css" />    
<link rel="stylesheet" type="text/css" href="/easyui/themes/color.css"/>
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>

    <table id="dg" class="easyui-datagrid" style="width:100%;height:440px"
            url="/InsuranceManagement/findAll"
            toolbar="#toolbar" pagination="true"
            rownumbers="true" fitColumns="true" singleSelect="true">
        <!-- <thead>
            <tr>
                <th field="insuranceType" width="50">险种</th>
                <th field="insuranceName" width="50">保险名称</th>
                <th field="cost" width="50">成本</th>
                <th field="price" width="50">售价</th>
                <th field="insuranceInstructions" width="50">保险说明</th>
                <th field="insurancePeriod" width="50">保险期限</th>
                <th field="insuranceContent" width="50">保险内容</th>
            </tr>
        </thead> -->
    </table>
    
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">新增</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">修改</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除</a>
        <input id="ss" name="ss" class="easyui-searchbox"  searcher="doSearch" prompt="请输入保险名称"  style="width: 130px; vertical-align: middle;"></input>   
    </div>
    
    <div id="dlg" class="easyui-dialog" style="width:400px"
            closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" novalidate="" style="margin:0;padding:20px 50px">
            <div style="margin-bottom:10px">
              <td>
	           <label for="insuranceType" class="label-top">险种:</label> <input id="insuranceType" style="width:100%" name="insuranceType" />
               <label for="insuranceName" class="label-top">保险名称:</label> <input name="insuranceName" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" style="width:100%"/>
               <label for="cost" class="label-top">成本:</label> <input name="cost" class="easyui-numberbox"  data-options="required:true,min:0,precision:2" style="width:100%"/>
               <label for="price" class="label-top">售价:</label> <input name="price" class="easyui-numberbox"  data-options="required:true,min:0,precision:2" style="width:100%"/>
               <label for="insuranceInstructions" class="label-top">保险说明:</label> <input name="insuranceInstructions" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" style="width:100%"/>
               <label for="insurancePeriod" class="label-top">保险期限:</label> <input name="insurancePeriod" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" style="width:100%"/>
               <label for="insuranceContent" class="label-top">保险内容:</label> <input name="insuranceContent" class="easyui-validatebox tb" data-options="required:true,validType:['charts','length[2,25]']" style="width:100%"/>
              </td>
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
    </div>
    <script type="text/javascript">
    $('#dg').datagrid({
    	columns:[[
        {field:'insuranceType',title:'险种',width:100,
			formatter: function(value,row,index){
				if(row.insuranceType!=null) {
    				return row.insuranceType.insuranceTypeName;
				}
				return "";
			}},
		{field:'insuranceName',title:'保险名称',width:100},
		{field:'cost',title:'成本',width:100},
		{field:'price',title:'售价',width:100},
		{field:'insuranceInstructions',title:'保险说明',width:100},
		{field:'insurancePeriod',title:'保险期限',width:100},
		{field:'insuranceContent',title:'保险内容',width:100},
    	]]
	});
    $('#insuranceType').combobox({    
    	valueField: 'id',    
        textField: 'insuranceTypeName',    
        url: '/InsuranceManagement/selectType', 
        onLoadSuccess: function(){
        	var data = $(this).combobox('getData');
        	$(this).combobox('select',data[0].id);
        } 
     });
    
        var url;
        function newUser(){
        	$('#fm').form('clear');
            //$('#dlg').dialog('open').dialog('center').dialog('setTitle','新增');
            $('#dlg').dialog({    
                title: '新增', 
                closed: false,    
                cache: false,       
                modal: true,
                buttons:'#dlg-buttons',
                onOpen:function(){
             	   //刷新保险类别下拉列表
 	               $('#insuranceType').combobox('reload'); 
                }
            }); 
            url = '/InsuranceManagement/save';
        }
            
        function editUser(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $('#dlg').dialog('open').dialog('center').dialog('setTitle','修改');
                $('#fm').form('load',row);
                url = '/InsuranceManagement/save?id='+row.id;
            }
        }
        function saveUser(){
            $('#fm').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(resultJSON){
                	var result = JSON.parse(resultJSON);
                    if (result.errorMsg){
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                        $('#dlg').dialog('close');        // close the dialog
                        $('#dg').datagrid('reload');    // reload the user data
                    }
                }
            });
        }
        function destroyUser(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','确认删除?',function(r){
                    if (r){
                        $.post('/InsuranceManagement/delete',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({    // show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        },'json');
                    }
                });
            }
        }
		function doSearch(insuranceName){
			alert('You input:' + insuranceName);
			$('#ss').searchbox('selectName', 'insuranceName');
		}
    </script>
</body>
</html>