<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>自营线路基本信息查看</title>
<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css" />    
<link rel="stylesheet" type="text/css" href="/easyui/themes/color.css"/>
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/page.css" />
<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="/css/fullcalendar/fullcalendar.print.css" />
<script type="text/javascript" src="/js/fullcalendar/fullcalendar.min.js"></script>

<style type="text/css">
.td{border:1px #0066ff solid;}
.table{border-collapse:collapse;}
</style>

</head>
<body id="RouteBaseInfoView">
<form class="easyui-panel" id="myform" name="myform" method="post">
<table class="table table-bordered table2 glg_tab" >
	<tbody>
		<tr>
			<td style="font-size: 16px; text-align: center;">线路名称：</td>
			<td colspan="4" style="text-align: left;">
			<input id="routeName" name="routeName" th:value="${selfSupportRoute.routeBaseInfo.routeName}" style="width:100%;" readonly="true"/>
			</td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">去程交通：</td>
			<td>
			<input id="goTraffic" class="easyui-validatebox" data-options="validType:'selected'" style="width:180px" name="goTraffic" readonly="true"/>
			</td>
			<td style="font-size: 16px; text-align: center;">回程交通：</td>
			<td>
			<input id="returnTraffic" class="easyui-validatebox" data-options="validType:'selected'" style="width:180px" name="returnTraffic" readonly="true"/>
			</td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">出发地：</td>
			<td ><input name="outPlace" readonly="true" th:value="${selfSupportRoute.routeBaseInfo.outPlace}" type="text" style="width:100%;" ></input></td>
			<td style="font-size: 16px; text-align: center;">浏览地：</td>
			<td><input name="destination" readonly="true" th:value="${selfSupportRoute.routeBaseInfo.destination}" type="text" style="width:100%;" ></input></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">签证国家：</td>
			<td >
			<input id="visaNationals" style="width:180px" name="visaNationals" readonly="true"/>
			</td>
			<td style="font-size: 16px; text-align: center;">电商页面排序：</td>
			<td>
			<input type="text" name="pageOrder"  th:value="${selfSupportRoute.routeBaseInfo.pageOrder}"  readonly="true"></input>
			</td>
		</tr>
		<tr>
		<td colspan="6" class="liTit">
		<div style="font-size: 16px;width:45%;color: blue;font-weight: bold;padding-left: 30px">产品类别</div>
		</td>
		</tr>
		<tr id="line">
		</tr>
		<!-- <tr>
			<td style="font-size: 16px; text-align: center;">原创路线:</td>
			<td>
			 <div>
			 	<input type="text" id="originalRoute" name="originalRoute" th:value="${selfSupportRoute.routeBaseInfo.routeTypeList[0].typeName}" readonly="value"></input>
			 </div>
			</td>
		</tr>-->
		<tr>
			<td style="font-size: 16px; text-align: center;">线路列表简图：<br/>建议尺寸-宽1500*高200</td>
			<td >
            	<div>
           		<img id="img1" th:src="@{'/files/'+${selfSupportRoute.routeBaseInfo.listRouteDiagram}}" height="150px" width="200px"/>
            	</div>
			</td>
			<td style="font-size: 16px; text-align: center;">路线简图：<br/>建议尺寸-宽1500*高200</td>
			<td >
            	<div>
           		<img id="img2" th:src="@{'/files/'+${selfSupportRoute.routeBaseInfo.routeDiagram}}" height="150px" width="200px"/>
            	</div>
			</td>
		</tr>
		
		<tr>
			<td style="font-size: 16px; text-align: center;">旅游主题:</td>
			<td>
			<div>
			<div th:each="tourismThemes:${selfSupportRoute.routeBaseInfo.tourismTheme}"> 
			<lable th:inline="text">[[${tourismThemes.themeName}]]</lable>
			</div>
			</div> 
			</td>
		</tr>
		
		<tr>
			<td style="font-size: 16px; text-align: center;">起价说明：</td>
			<td colspan="4" style="text-align: left;">
			<textarea name="startPriceExplain"  th:text="${selfSupportRoute.routeBaseInfo.startPriceExplain}" style="width:100%;" readonly="true">
			</textarea>
			</td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">推荐理由：</td>
			<td colspan="4" style="text-align: left;"><textarea name="recommendedReason"  th:text="${selfSupportRoute.routeBaseInfo.recommendedReason}" style="width:100%;" readonly="true"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">重要提示：</td>
			<td colspan="4" style="text-align: left;"><textarea name="importanceHint"  th:text="${selfSupportRoute.routeBaseInfo.importanceHint}" style="width:100%;" readonly="true"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">保险赠送情况说明：</td>
			<td colspan="4" style="text-align: left;"><textarea name="insuranceGiveExplain"  th:text="${selfSupportRoute.routeBaseInfo.insuranceGiveExplain}" style="width:100%;" readonly="true"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">限制报名期限：</td>
			<td colspan="4" style="text-align: left;"><input name="limitedRegistrationDeadline"  th:value="${selfSupportRoute.routeBaseInfo.limitedRegistrationDeadline}" style="width:100%;" readonly="true"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">限制付款天数：</td>
			<td colspan="4" style="text-align: left;"><input name="restrictedPaymentDays"  th:value="${selfSupportRoute.routeBaseInfo.pageOrder}" style="width:100%;" readonly="true"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">限制付款小时：</td>
			<td colspan="4" style="text-align: left;"><input name="limitedPaymentHours"  th:value="${selfSupportRoute.routeBaseInfo.limitedPaymentHours}" style="width:100%;" readonly="true"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;">付款方式：</td>
			<td colspan="4" style="text-align: left;"><input name="paymentMethod"  th:value="${selfSupportRoute.routeBaseInfo.paymentMethod}" style="width:100%;" readonly="true"/></td>
		</tr>
		<tr>
			<td style="font-size: 16px; text-align: center;"></td>
			<td colspan="4" style="text-align: left;">
			<a href="javascript:history.back(-1)" class="easyui-linkbutton c6" style="width:90px">返回列表</a>
			</td>
		</tr>
	</tbody>
</table>
</form>	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	           
	 var findRouteBaseInfo = [[${selfSupportRoute.routeBaseInfo.routeTypeList}]];
	 //alert(findRouteBaseInfo[0].typeName);
	 var str="";	
	 $.ajax({  
        url: '/RouteCategory/findRouteCategory',  
        dataType: 'json',  
        success: function (data) {
        	for (var i = 0; i < data.length; i++) {
        	/* $('#line').after("<tr id='"+i+"'></tr>");
        	$('#'+i).append("<td><input type=\"text\" value='"+data[i].categoryName+"'/></td>"+
        	"<td><div><input type=\"text\" id='"+data[i].id+"' name='"+data[i].id+"' value='"+findRouteBaseInfo[i].typeName+"'></input></div></td>");
        	*/
             str+= "<tr id='"+i+"'><td><input type=\"text\" value='"+data[i].categoryName+"'/></td>"+
             "<td><div><input type=\"text\" id='"+data[i].id+"' name='"+data[i].id+"' value='"+findRouteBaseInfo[i].typeName+"'></input>"+
             "</div></td></tr>"
        	 }
        	$('#line').after(str);
        }  
    });                 
	           
	 $('#goTraffic').combobox({    
    	valueField: 'id',    
        textField: 'trafficType',    
        url: '/RouteBaseInfo/selectGoWay',
        onLoadSuccess: function(){
        	var data = $(this).combobox('getData');
        	$(this).combobox('select',data[0].id);
        } 
     });
    $('#returnTraffic').combobox({    
    	valueField: 'id',    
        textField: 'trafficType',    
        url: '/RouteBaseInfo/selectGoWay',
        onLoadSuccess: function(){
        	var data = $(this).combobox('getData');
        	$(this).combobox('select',data[0].id);
        } 
     });
    $('#visaNationals').combobox({    
    	valueField: 'id',    
        textField: 'country',    
        url: '/RouteBaseInfo/selectCountry',
        onLoadSuccess: function(){
        	var data = $(this).combobox('getData');
        	$(this).combobox('select',data[0].id);
        } 
     });
        /*]]>*/
    </script>
   </body>
</html>